.calculator {
padding: 10px;
border-radius: 10px;
height: 500px;
width: 400px;
margin: auto;
background-color: rgb(218, 218, 218);
box-shadow:white
}

.calInput {
background-color: rgb(185, 185, 185);
border: solid white 1px;
color: black;
border-radius: 5px;
width: 100%;
height: 65%;
}

#clear {
color: rgb(247, 31, 12);
}
#equal {
    background-color: rgb(141, 183, 247);
    }

button{
color: black;
background-color: rgb(218, 218, 218);
border: solid white 1px;
width: 100%;
border-radius: 5px;
height: 70%;
outline: none;
}
